// Specific CSS for your home-page
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(#ffde59, #ff914d);
}


#banner img {
  width: 100%;
  height: auto;
}


.card-container{
  max-width: 100%;
  width: 100%;
  height: 200px;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}


.card-container:hover {
  transform: scale(1.05);
}

.card-container-title h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
  padding-bottom: 15px;
}

.div-container-description h4 {
  margin: 10px 0 0;
  font-size: 1.2em;
  color: #555;
}


#create-list-icon, #share-icon, #budget-icon {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

#share-icon {
  background-image: url('share-icon.png');
}

#budget-icon {
  background-image: url('budget-icon.png');
}

#create-list-icon {
  background-image: url('checklist-icon.png');
}
@media (max-width: 768px) {
  .card-container {
    padding: 15px;
    margin: 15px auto;
  }

  .card-container-title h3 {
    font-size: 1.3em;
  }

  .div-container-description h4 {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .card-container {
    padding: 10px;
    margin: 10px auto;
  }

  .card-container-title h3 {
    font-size: 1.2em;
  }

  .div-container-description h4 {
    font-size: 0.9em;
  }

  #share-icon, #budget-icon, #create-list-icon {
    width: 100px;
    height: 100px;
  }

  .banner img {
  width: 100%;
  height: auto;
}
}

.arrow-down {
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.container-carousel {
  margin: 20px;
}

.carousel-item img {
  border-radius: 20px; /* Ajusta el valor para cambiar el radio de las esquinas */
}

.carousel-caption h5 {
  color: white; /* Color del título */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra del texto para mejorar la legibilidad */
}

.carousel-caption p {
  color: white; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra del texto para mejorar la legibilidad */
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.sign-up-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding:20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #faf6f6;
  border-radius: 5%;
}

.sign-up-container h1 {
  color: rgb(45, 45, 102);
  text-align: left;
  font-size: 40px;
}

p {
  color: #afaeae;
}

.form-label {
  color: #afaeae;
}

.form-text{
  color: #afaeae;
}

.sign-up-container .signup-btn {
  padding: 10px 20px;
  font-size: 20px;
  height: 50px;
  border-radius: 25px;
  color: white;
  background-color: rgb(45, 45, 102);
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .signup-btn {
    width: 100%;
  }
}
