<div class="col-12 card budget-card-bg">
  <div style="text-align: center" class="my-3">
    <img src="<%= image_url("empty_list.png") %>" alt="No products yet" style="width: 225px; height: 225px" class="no-item-center-image mb-3"/>
    <h1><strong>Empty List</strong></h1>
    <p style="font-size: 15px" class="px-3">Your shopping list is currently empty. Feel free to add products to your list.</p>
  </div>
</div>
