

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" data-controller="dictionary">
      <div class="modal-body pt-4">
       <%= form_with(model:Product.new, url: list_products_path(params[:id]), method: :post  , local: true)  do |form|  %>
          <div class="field">
           <input name="product[name]"
       class="form-control"
       placeholder="enter product"
        data-dictionary-target= "input"
        data-action ="keyup->dictionary#update"
        id="product_name"
    >
          </div>
          <ul data-dictionary-target= "data">
          </ul>
          <div class="actions">
            <%= form.submit 'Add a product'%>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-orange" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
