<div class='container'>

<div class="banner">

</div>




<div class="suggested-list-container">

  <div class="suggested-list-card">
    <div class="suggested-list-title">
      <h3>Friday night list</h3>
    </div>
    <div class="suggested-list-image">
    </div>
  </div>

  <div class="suggested-list-card">
    <div class="suggested-list-title">
      <h3>Friday night list</h3>
    </div>
    <div class="suggested-list-image">
    </div>
  </div>

  <div class="suggested-list-card">
    <div class="suggested-list-title">
      <h3>Friday night list</h3>
    </div>
    <div class="suggested-list-image">
    </div>
  </div>
</div>

<div class="footer">


</div>
</div>
