<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
    <h1 class="mt-5">Listas Prearmadas</h1>
    <div class="row">
      <div class="col-md-4 list-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cena Navideña</h5>
            <div class="tags">
              <span class="tag">Navidad</span>
              <span class="tag">Cena</span>
              <span class="tag">Festivo</span>
            </div>
            <a href="#" class="btn btn-primary mt-3">Ver Lista</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 list-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fiesta</h5>
            <div class="tags">
              <span class="tag">Fiesta</span>
              <span class="tag">Celebración</span>
              <span class="tag">Entretenimiento</span>
            </div>
            <a href="#" class="btn btn-primary mt-3">Ver Lista</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 list-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Velorio</h5>
            <div class="tags">
              <span class="tag">Funeral</span>
              <span class="tag">Condolencias</span>
            </div>
            <a href="#" class="btn btn-primary mt-3">Ver Lista</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 list-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cumpleaños</h5>
            <div class="tags">
              <span class="tag">Cumpleaños</span>
              <span class="tag">Celebración</span>
              <span class="tag">Fiesta</span>
            </div>
            <a href="#" class="btn btn-primary mt-3">Ver Lista</a>
          </div>
        </div>
      </div>
    </div>
  </div>
