<div class='container'>

<div class="banner">

</div>

   <%= link_to new_list_path, class: 'card-container' do %>
    <div class="card-container-title">
      <h3>Create grocery list quickly</h3>
    </div>
    <div id='create-list-icon'></div>
    <div class="div-container-description">
      <h4>Chose products, add description and prices</h4>
    </div>
  <% end %>

  <%= link_to new_list_list_guest_path, class: 'card-container' do %>
    <div class="card-container-title">
      <h3>Share your list</h3>
    </div>
    <div id="share-icon"></div>
    <div class="div-container-description">
      <h4>Ask a friend to be part of your list and shop easier</h4>
    </div>
  <% end %>

  <%= link_to new_user_session_path, class: 'card-container' do %>
    <div class="card-container-title">
      <h3>Organise your budget</h3>
    </div>
    <div id="budget-icon"></div>
    <div class="div-container-description">
      <h4>Compare prices, settle a budget and save money</h4>
    </div>
  <% end %>




<div class="suggested-list-container">

  <div class="suggested-list-card">
    <div class="suggested-list-title">
      <h3>Friday night list</h3>
    </div>
    <div class="suggested-list-image">
    </div>
  </div>

  <div class="suggested-list-card">
    <div class="suggested-list-title">
      <h3>Friday night list</h3>
    </div>
    <div class="suggested-list-image">
    </div>
  </div>

  <div class="suggested-list-card">
    <div class="suggested-list-title">
      <h3>Friday night list</h3>
    </div>
    <div class="suggested-list-image">
    </div>
  </div>
</div>

<div class="footer">


</div>
