.navbar-lewagon {
  background-color: #fcfbfd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.navbar-lewagon .nav-link:hover {
  background-color: #7c5bae;
}

.icon-color {
  color: #7c5bae;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 0;
}
